@use "../common" as *;

.container {
  margin: 0 auto;
  padding: 0 20px;
  min-width: 360px;

  @media (min-width: $tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 80px;
    padding-right: 80px;
    max-width: $desktop-width;
  }
}
