$font-primary: "Lato", "Arial", sans-serif;

$white: #ffffff;
$black: #000000;
$pink: #ff70d9;
$light-green: #ebff00;
$olive: #92a51d;
$dark-blue: #304571;
$shade-color: #0f1420;
$shade-opacity: 0.79;
$rocket-shadow: drop-shadow(0 21px 15px rgba($black, 0.25));

$tablet-width: 768px;
$desktop-width: 1248px;
$mobile-width-only: 767px;
